@value makerWhite from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.cardPreview {
	flex: 1 1 50%;
	background-color: makerWhite;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
}

.cardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	padding: 0.3em;
}
