@value jejuWhite, jejuGreen, jejuBlack , jejuOrange from '../../common/colors.css';

.footer {
	height: 5%;
	width: 100%;
	background-color: jejuBlack;
	text-align: center;
}

.title {
	color: jejuOrange;
}
