@value makerBlack from './common/colors.css';
@value makerWhite from './common/colors.css';

.app {
	width: 40rem;
	height: 40rem;
	padding: 0;
	margin: auto;
	margin-top: 200px;
	text-align: center;
}

.btnContainer {
	background-color: makerWhite;
	color: makerBlack;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btnTitle {
	margin: 0 0 1em 0;
	font-size: 3em;
}

.btn {
	width: 90%;
	font-size: 1.5em;
	margin-bottom: 0.5em;
	border-radius: 1em;
	background-color: makerWhite;
	padding: 0.2em;
}
