@value jejuBlue,jejuWhite,jejuGreen,jejuBlack,jejuOrange,jejuGold from '../../common/colors.css';

.header {
	height: 10%;
	min-height: 5.5em;
	width: 100%;
	text-align: center;
	background-color: jejuOrange;
	position: relative;
	padding-top: 1em;
	padding-bottom: 1em;
}

.logo {
	width: 3em;
}
.title {
	margin: 0;
	color: jejuWhite;
}

.buttons {
	position: absolute;
	right: 3em;
	top: 1em;
	padding: 0.8em;
}

.logout {
	padding: 0.8em;
	border-radius: 20%;
	background-color: jejuBlack;
	color: jejuWhite;
	border: 0;
	outline: 0;
	cursor: pointer;
}
