@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';

.header {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	background-color: makerGreen;
	border-radius: 10px 10px 0px 0px;
}

.imgContainer {
	padding: 1.5em 0 0 0;
}

.logo {
	flex-grow: initial;
}

.logOutBtn {
	outline: none;
	cursor: pointer;
	position: absolute;
	font-size: 1em;
	color: makerWhite;
	background-color: makerGreen;
	font-weight: bold;
	padding: 0.5em;
	top: 20px;
	right: 20px;
}

.title {
	font-size: 3em;
	margin: 0;
	padding: 0.2em;
	color: makerWhite;
}
