@value makerWhite, makerBlack, makerGrey,makerGreen,makerPink,makerLightPink,makerLightGrey from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.cardMaker {
	flex: 1 1 50%;
	background-color: makerWhite;
	padding-left: 1em;
	padding-right: 1em;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
}

.grid {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 1em;
	border-left: 1px solid makerGreen;
	border-top: 1px solid makerGreen;
	font-weight: bold;
}
.cell {
	padding: 0.5em;
	text-align: left;
	border-bottom: 1px solid makerGreen;
	border-right: 1px solid makerGreen;
	overflow: auto;
}
.cell.name {
	flex-basis: 33.33%;
}
.cell.company {
	flex-basis: 33.33%;
}
.cell.theme {
	flex-basis: 33.33%;
	border-left: 0;
	border-top: 0;
	font-weight: bolder;
}
.cell.job {
	flex-basis: 50%;
}
.cell.email {
	flex-basis: 50%;
}
.cell.comment {
	flex-basis: 100%;
	font-weight: lighter;
}
.cell.profile {
	text-align: center;
	flex-basis: 50%;
	background-color: makerPink;
	color: makerWhite;
	cursor: pointer;
}
.cell.profile:hover {
	background-color: makerLightPink;
	color: makerPink;
}
.cell.profile.noprofile {
	background-color: makerLightGrey;
	color: makerBlack;
}

.cell.delete {
	border: 0;
	flex-basis: 50%;
	outline: none;
	box-shadow: none;
	text-align: center;
	font-weight: bold;
	background-color: makerGreen;
	color: makerWhite;
	cursor: pointer;
}
