@value makerWhite, makerBlack, makerGrey,makerGreen,makerPink,makerLightPink,makerLightGrey from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.card {
	display: flex;
	align-items: center;
	background-color: makerBlack;
	color: makerWhite;
	width: 100%;
	padding: 1.5em;
	border-radius: 1em;
	margin-bottom: 1em;
}
.imgContainer {
	flex-basis: 30%;
	height: 50%;
	width: 50%;
}

.profile {
	border-radius: 50%;
	height: 70%;
	width: 70%;
}
.content {
	flex-basis: 70%;
	text-align: left;
	padding-left: 4em;
	align-self: flex-start;
	width: 100%;
}
.content > * {
	margin-bottom: 0.4em;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.name {
}
.company {
	border-bottom: 1px solid makerWhite;
	padding-bottom: 0.4em;
}
.job {
}
.email {
}
.comment {
}
