@value makerWhite from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';

.cardPreview {
	flex-basis: 50%;
	background-color: makerWhite;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
}
