@value mediaQuery from '../../common/size.css';
@value jejuGold,jejuBlue, jejuWhite, jejuGreen, jejuBlack,jejuOrange from '../../common/colors.css';

.container {
	flex-basis: 70%;
	display: flex;
	flex-wrap: wrap;
	background-color: wheat;
}

@media screen and (max-width: mediaQuery) {
	.container {
		flex-direction: column;
		flex-wrap: nowrap;
		flex: 100%;
	}
}
